
name: "Code Scanning with Super Linter and Bandit"

on:
  push:
    branches: [ "main" ]

jobs:
  Super-Linter:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      security-events: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        
      - name: Run Super-linter
        uses: super-linter/super-linter@v7.1.0
        continue-on-error: true
        env:
          # To report GitHub Actions status checks
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          VALIDATE_PYTHON: true
          
  Bandit:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      security-events: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Install Bandit
        run: pip install bandit
        
      - name: Run Bandit
        uses: shundor/python-bandit-scan@v1.0
        with: 
          path: "."
          level: high
          confidence: high
          exit_zero: true           
